*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(270deg, #276174, #33c58e);
    color: white;
    font-family: 'Roboto';
    min-height: 100vh;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header{
    font-size: 1.5rem;
}
